.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.village-container {
  justify-content: center;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  border: 1px solid black;
  margin: 1rem;
  width: 20%;
  box-shadow: 10px 10px 10px;
  border-radius: 10px;
}

input {
  margin: 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  border: none;
  height: 2rem;
  background: greenyellow;
}
